<f:if condition="{user}">
  <f:then>
    <div class="authHeaderBloc">
      <i class="icon-user withBackground"></i>
      <span class="authFullnameCut">{user.name}</span>
    </div>
    <div class="authSubmenu">
      <span class="authFullname">{user.name}</span>
      <div class="authLink authLogin">
        <a href="{url}"><span class="authText">{authText}</span></a>
      </div>
    </div>
  </f:then>
  <f:else>
    <div class="authHeaderBloc">
      <i class="icon-user"></i>
      <div class="authLink authLogin"><a href="{url}"><span class="authText">{authText}</span></a></div>
    </div>
    <div class="authSubmenu">
      <div class="authLink authLogin">
        <a href="{url}"><span class="authText">{authText}</span></a>
      </div>
    </div>
  </f:else>
</f:if>

